*{
    box-sizing: border-box;
    font-family: Josefin Sans;
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
h2{
    font-size: 65px !important;
}
p{
    font-size: 19px;
}
@media (min-width:1230px){
.container{
    max-width: 1200px !important;
}
}
.top-bar{
    background-color: #000;
    padding: 10px 0px;   
}
.top-bar-social-icons span i{
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.top-bar-contact-info span{
    color: #fff;
    padding-left: 20px;
    cursor: pointer;
}
.top-bar-inner{
    display: flex;
    justify-content: space-between;
    
}
.top-bar-social-icons span i:hover{
    transform: rotate(360deg);
}
.banner{
    height: calc(100vh - 44px);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(images/banner.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.banner-2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(images/banner-2.png);
}
.navbar-nav{
    margin-left: auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
}
.nav-item{
    text-align: right;
}
.navbar-brand{
    margin: 0px;
}
.banner-box{
    text-align: center;
    color: #fff;
}
.header-maryland{
    font-size: 18px;
}
.header-stein{
    font-size: 114px;
}
.header-get-best{
    font-size: 22px;
    max-width: 700px;
}
.header-btn-main{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 50px;
}
.header-btn-2 a{
    padding: 17px 43px !important;
}
.header-btn a{
    color: #fff;
    border: 1px solid #fff;
    padding: 17px 25px;
}
.header-btn a:hover{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    transition: 0.5s;
}
.meet-stein-sec{
    margin: 80px auto 20px;
    text-align: center;
}
.meet-stein-sec .divider{
    height: 4px;
    width: 70px;
    background-color: #000;
    margin: auto;
}
.meet-stein-sec p{
    max-width: 1100px;
    margin-top: 30px;
}
.meet-stein-img{
    position: relative;
}
.meet-stein-img::before{
    content: "";
    position: absolute;
    height: 19px;
    width: 100px;
    right: 0;
    top: -9px;
    background-color: #000;
}
.meet-stein-img::after{
    content: "";
    position: absolute;
    height: 19px;
    width: 100px;
    left: 0;
    bottom: -9px;
    background-color: #000;
}
.stein-moved{
    background-image: url(images/dotted-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}
.stein-moved p{
    max-width: 1030px;
    margin: auto;
}
.stein-moved-para{
    text-align: center;
}
.stein-moved-box-btn{
    text-align: end;
}
.stein-moved-box-btn a{
    background-color: #000;
    padding: 17px 30px;
    color: #fff;
}
.stein-moved-box-btn a:hover{
    color: #fff;
    text-decoration: none;
}
.stein-moved-box .row{
    align-items: center;
}
.stein-moved-box-img img{
    width: 150px;
}
.stein-moved-box-img{
    text-align: end;
}
.stein-moved-box{
    max-width: 720px;
    margin: 20px auto 0px;
}
.featured-main{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)), url(images/light-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0px 200px;
    position: relative;
}
.featured-inner{
    color: #fff;
    margin: auto;
    width: 100%;
}
.divider-2{
    height: 4px;
    width: 70px;
    background-color: #fff;
    margin: auto;
}
.featured-inner h2{
    text-align: center;
}
.featured-inner{
    width: 88%;
    margin: auto;
}
.featured-carousel{
    margin-top: 100px;
}
.featured-carousel::before{
    content: "";
    height: 55%;
    width: 200px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 252px;
    left: 0;
}
.featured-carousel::after{
    content: "";
    height: 55%;
    width: 200px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 252px;
    right: 0;
}
.owl-dots{
    display: none;
}
.owl-carousel-featured .owl-prev::before{
    content: "\f177";
    font-family: "FontAwesome";
    font-size: 30px;  
    color: #fff;
    position: absolute;
    bottom: -27%;
    left: 44%;
}
.owl-carousel-featured .owl-next::after{
    content: "\f178";
    font-family: "FontAwesome";
    font-size: 30px;  
    color: #fff;
    position: absolute;
    bottom: -27%;
    right: 44%;
}
.owl-carousel-team .owl-prev::before{
    content: "\f177";
    font-family: "FontAwesome";
    font-size: 30px;  
    color: #000;
    position: absolute;
    bottom: -13%;
    left: 44%;
}
.owl-carousel-team .owl-next::after{
    content: "\f178";
    font-family: "FontAwesome";
    font-size: 30px;  
    color: #000;
    position: absolute;
    bottom: -13%;
    right: 44%;
}
.owl-theme .owl-nav [class*=owl-]{
    background: transparent !important;
    outline: none !important;
}
.owl-prev span{
    display: none;
}
.owl-next span{
    display: none;
}
.compass-team-main h2{
    text-align: center;
}
.compass-team-col{
    background-image: url("images/team-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.compass-team-col:hover .compass-team-col-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.compass-team-col:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.compass-team-col:hover .compass-team-col-main{
    margin: 0px;
    width: 100%;
    opacity: 0.8;
}
.compass-team-col-main{
    background-color: #fff;
    text-align: center;
    padding: 15px;
    width: 90%;
    margin-bottom: 20px;
    transition: 0.5s;
}
.compass-team-col-inner p{
    font-size: 16px;
}
.compass-team-col-inner h3{
    font-size: 21px;
}
.compass-team-carousel{
    margin-top: 80px;
    padding: 0px 70px;
}
.compass-team-col-2{
    background-image: url("images/team-2.jpg");
}
.compass-team-col-3{
    background-image: url("images/team-3.jpg");
}
.work-with-us-col-2{
    background-color: #3E3E3E;
    color: #fff;
    padding: 50px;
}
.work-with-us-col-2 h3{
    font-size: 54px;
}
.work-with-us-col-2 h3::after{
    content: "";
    height: 2px;
    width: 50px;
    background-color: #fff;
    display: block;
    margin: 20px 0px 60px;
}
.work-with-us-col-2 p{
    font-size: 19px;
}
.work-us-btn{
    margin-top: 60px;
}
.work-us-btn a{
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 40px;
}
.work-us-btn a:hover{
    color: #fff;
    text-decoration: none;
}
.work-with-us-col{
    width: 60%;
}
.work-with-us{
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.work-with-us-col-2{
    margin-left: -170px;
}
.blog{
    margin: 100px auto 0px;
}
.line-af::after{
    content: "";
    height: 4px;
    width: 80px;
    display: block;
    margin: auto;
    background-color: #000;
}
.blog-col{
    border: 1px solid #C5C5C5;
    padding: 15px 15px 50px;
}
.blog-col-txt{
    margin-top: 40px;
    text-align: center;
}
.blog-para-1{
    font-size: 16px;
}
.blog-para-2{
    font-size: 18px;
}
.blog-btn{
    margin-top: 30px;
}
.blog-btn a{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    padding: 15px 40px;
}
.blog-btn a:hover{
    color: #fff;
    text-decoration: none;
}
.blog-btn::after{
    content: "";
    height: 2px;
    width: 20px;
    background-color:#707070;
    display: inline-block;
    margin-left: -17px;
}
.blog-inner{
    margin: 50px;
    padding: 0px 50px;
}
.blog-col:hover{
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}
.video-main{
    background-image: url(images/video.jpg);
    background-size: cover;
    padding: 70px 0px;
}
.video-fancy-box{
    width: 80%;
    background-image: url(images/fancy-box.jpg);
    background-position: center;
    background-size: cover;
    height: 617px;
    margin: 70px auto 0px;
    position: relative;
}
.video-icon img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    max-width: 30%;
}
.play-icon img{
    max-width: 15%;
}
.video-txt{
    text-align: center;
}
.communities-main{
    padding: 50px 0px 100px;
}
.communities-box{
    width: 90%;
    margin: 70px auto 0px;
}
.communities-box-inner-1{
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(images/communities-1.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 400px;
    padding: 0px 0px 20px 30px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.communities-box-inner-sec{
    color: #fff;
    border-left: 2px solid #fff;
    padding-left: 10px;
}
.communities-box-inner-sec p{
    font-size: 16px;
}
.communities-box-inner-sec h4{
    font-size: 34px;
}
.communities-box-inner-2{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(images/communities-2.jpg);
}
.communities-box-inner-3{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(images/communities-3.jpg);
}
.communities-box-inner-4{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(images/communities-4.jpg);
}
.communities-box-inner-5{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.70)), url(images/communities-5.jpg);
    margin-bottom: 50px;
}
.testimonials-main{
    background-color: #F3F3F3;
    padding: 70px 0px;
}
.testimonials-box{
    background-color: #fff;
    border-top: 11px solid #BCBCBC;
    text-align: center;
    padding: 20px 20px 30px;
}
.testimonial-icon{
    color: #BCBCBC;
    width: 88px;
    margin: auto;
}
.testimonial-para{
    font-size: 18px;
    margin: 40px 0px;
    color: #000;
}
.testimonial-img img{
    width: 114px !important;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 50%;
}
.testimonial-img{
    margin-top: -55px;
    text-align: center;
}
.network-main{
    background: linear-gradient(rgba(75, 56, 56, 0.66), rgba(0, 0, 0, 0.66)), url(images/network.jpg);
    padding: 70px 0px 60px;
}
.network-txt-box{
    text-align: center;
    color: #fff;
}
.network-txt-box h4{
    font-size: 39px;
    color: #B5B5B5;
}
.network-txt-box h2{
    font-size: 84px;
}
.network-txt-box p{
    font-size: 22px;
    max-width: 850px;
    margin: 20px auto 80px;
    color: #D6D6D6;
}
.network-form{
    width: 62%;
    margin: auto;
}
.form-name-email{
    column-gap: 20px;
}
.form-name-sec, .form-email-sec, .form-message-sec{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 15px 0px;
    outline: none;
    color: #fff;
} 
.form-name input::-webkit-input-placeholder {
    color: #fff;
  }
 .form-email input::-webkit-input-placeholder {
    color: #fff;
  }
  .form-message input::-webkit-input-placeholder {
    color: #fff;
  }
.form-name, .form-email{
    width: 50%;
}
.form-btn{
    text-align: center;
}
.form-btn button{
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 22px;
    color: #707070;
    border: none;
    margin-top: 50px;
    transition: 0.5s;
}
.form-message-sec{
    padding-bottom: 100px;
}
.form-btn button:hover{
transform: scale(1.1);
}
.footer-main{
    background-color: #FCFCFC;
    padding: 70px 0px 20px;
}
.footer{
    width: 90%;
    margin: auto;
}
.footer-info{
    text-align: center;
    font-size: 19px;
}
.footer-social{
    margin: 50px 0px;
    text-align: center;
    font-size: 19px;
}
.footer-social-icons span i{
    font-size: 15px;
    padding: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
}
.footer-social-icons span i:hover{
    transform: rotate(360deg);
}
.footer-para p{
    text-align: center;
    font-size: 19px;
}
.footer-para-2{
    margin-top: 50px;
}
.bottom-bar-main{
    border-top: 1px solid #707070;
    padding-top: 20px;
}
.bottom-bar-txt-box p{
    margin: 0px;
    font-size: 15px;
}
.line-af-w::after{
    background-color: #fff;
}
.sell-home-head-row{
    align-items: center;
}
/* sell-your-home */

.sell-your-home{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/sell-your-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.sell-home-head{
    background: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url(images/sell-your-home-head-1.jpg);
    padding: 100px 0px 30px;
}
.sell-your-home-head{
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    text-align: center;
}
.sell-your-home-head h1{
    font-size: 95px;
}
.sell-home-btn a{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    padding: 15px 40px;
}
.sell-home-head-col p{
    color: #7D7D7D;
}
.sell-head-border::before{
    content: "";
    height: 100%;
    width: 86%;
    display: block;
    border: 2px solid#414141;
    position: absolute;
    background-color: transparent;
    top: -5%;
    left: 7%;
}
.sell-home-head-2{
    background: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), url(images/sell-your-home-head-2.jpg);
    padding: 100px 0px 70px;
}
.view-all{
    margin-top: 100px;
    position: relative;
}
.view-all-img{
    width: 98%;
    text-align: right;
    margin-left: auto;
}
.view-all-img::before{
    content: "";
    background-color: transparent;
    border: 1px solid #414141;
    height: 100%;
    width: 98%;
    position: absolute;
    left: 0;
    top: -5%;
}
.view-all-para{
    max-width: 1200px;
    margin: 70px auto;
    text-align: center;
}
.view-head-txt{
    background-color: #fff;
    width: 85%;
    margin: auto;
    padding: 20px;
    transform: translateY(-100px);
    box-shadow: 4px 2px 35px -9px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.view-head-txt h3{
    font-size: 28px;
    color: #191919;
}
.view-head-txt h3::after{
    content: "";
    height: 2px;
    width: 100px;
    background-color: #707070;
    display: block;
    margin: 10px 0px;
}
.view-head-txt p{
    color: #7D7D7D;
}
.view-all-head{
    margin-bottom: 50px;
}
.view-head-main{
    cursor: pointer;
    height: 597px;
}
.view-head-main:hover .view-head-txt{
    transform: translateY(-130px);
}
.welcome-main{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.welcome-head-main{
    background-image: url(images/sell-your-home-head-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 82%;
    background-position: bottom center;
    position: relative;
    padding-bottom: 170px;
    margin-bottom: 70px;
}
.welcome-head-main-col-img-1 img{
    max-width: 70%;
    height: 596px;
    margin: auto;
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 70px;
}
.welcome-head-main-col-img-2{
    height: 526px;
    width: 208px;
}
.welcome-head-main-col-img-2{
    position: absolute;
    top: 0;
    right: 85px;
}
.welcome-head-main-col-img-1::before{
    content: "";
    height: 80%;
    width: 20%;
    background-color: #000;
    position: absolute;
    top: 120px;
    right: 0;
}
.welcome-head-main-col-img-1::after{
    content: "";
    height: 80%;
    width: 30%;
    background-color: #BFBFBF;
    position: absolute;
    left: 12%;
    bottom: -15%;
}
.welcome-head-main-col h2{
    max-width: 600px;
}
.welcome-head-main-col{
    margin: 250px 0px 0px 50px;
}
.welcome-community-main{
    background-image: url(images/community.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
    margin-top: 70px;
}
.welcome-community-col{
    background-color: rgba(255, 255, 255, 0.88);
    padding: 100px 70px;
}
.welcome-community-col-main{
    margin-left: auto;
}
.heading-main{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/heading-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading-rent-main h2{
    margin: 50px auto;
    text-align: center;
}
.heading-rent-main p{
    text-align: center;
}
.rent-margin{
    margin-top: 30px;
}
.rent-img-main{
    margin: 50px 0px;
}
.rent-bottom-para{
    margin-bottom: 50px;
}
.rent-bottom-para p{
    margin-bottom: 50px;
}
.team-main{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/team-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-sec-btn a{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px 40px;
    transition: 0.5s;
}
.team-sec-btn a:hover{
    color: #fff;
    background-color: #000;
    text-decoration: none;
}
.team-sec-btn::after{
    content: "";
    height: 2px;
    width: 20px;
    background-color:#707070;
    display: inline-block;
    margin-left: -17px;
}
.team-txt-box{
    width: 85%;
    margin: auto;
    background-color: #fff;
    transform: translateY(-100px);
    box-shadow: 4px 2px 35px -9px rgb(0 0 0 / 75%);
    transition: 0.5s;
    padding: 40px;
    text-align: center;
}
.team-txt-box h4{
    font-size: 22px;
}
.team-txt-box p{
    font-size: 16px;
    margin: 10px 0px 40px;
}
.team-sec{
    cursor: pointer;
    height: 68%;
}
.team-sec:hover .team-txt-box{
    transform: translateY(-130px);
    cursor: pointer;
}
.meat-team-main-para{
    text-align: center;
    margin: 50px 0px;
}
.communities-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/team-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-valuation-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/home-valuation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-valuation-form-main{
    background: linear-gradient(to right,rgba(255, 255, 255, 0.95) 50%, rgba(0, 0, 0, 0)), url(images/home-valuation-form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    margin: 70px 0px;
}
.home-valuation-form-col h4{
    font-size: 31px;
}
.home-valuation-form-col h4::after{
    content: "";
    background-color: #000;
    height: 4px;
    width: 100px;
    display: block;
}
.home-valuation-form-txt{
    width: 80%;
    display: block;
    padding: 10px 0px 10px 10px;
    margin: 40px 0px;
    box-shadow: 0px 0px 26px -11px rgba(0,0,0,0.75);
    border: 1px solid #BFBFBF;
}
.home-valuation-form-btn{
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 15px 40px;
    transition: 0.5s;
}
.home-valuation-form-btn:hover{
    color: #fff;
    background-color: #000;
    text-decoration: none;
}
.home-valuation-form-btn-main::after{
    content: "";
    height: 2px;
    width: 20px;
    background-color:#707070;
    display: inline-block;
    margin-left: -17px;
}
.testimonials-page-main{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/testimonials-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0px;
    margin: 70px 0px;
}
.testimonials-page-main h2{
    color: #fff;
}
.testimonials-page-box{
    background: #fff;
    padding: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 18% 92%, 12% 100%, 12% 92%, 0 92%);

}
.testimonials-page-box p{
    font-size: 15px;
    line-height: 1.5;
}
.testimonials-page-txt{
    color: #fff;
    margin: 20px 0px 0px 40px;
}
.testimonials-page-txt h4{
    font-size: 24px;
}
.testimonials-page-txt p{
    font-size: 15px;
}
.testimonials-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/testimonials-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video-gallery-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/video-gallery-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video-gallery-fancy-box{
    width: 87%;
    background-image: url(images/fancy-box.jpg);
    background-position: center;
    background-size: cover;
    height: 345px;
    margin: 0px auto;
    position: relative;
}
.video-sec-1{
    width: 70%;
    margin: auto;
    border: 1px solid #000;
    border-bottom: none;
    text-align: center;
    padding: 20px 0px 50px;
    
}
.video-sec-1 p{
    font-size: 27px;
}
.video-sec-3{
    width: 70%;
    margin: auto;
    border: 1px solid #000;
    border-top: none;
    text-align: center;
    padding: 35px 0px;
}
.video-sec-3 p{
    font-size: 15px;
}
.video-gallery-sec-col{
    margin-top: 50px;
    position: relative;
}
.video-sec-1::after{
    content: "";
    background-color: #000;
    height: 14%;
    width: 5%;
    display: inline-block;
    right: 10%;
    top: 8%;
    position: absolute;
} 
.video-sec-3::after{
    content: "";
    background-color: #000;
    height: 14%;
    width: 5%;
    display: inline-block;
    left: 10%;
    bottom: 8%;
    position: absolute;
} 
.video-gallery-fancy-box{
    width: 87%;
    background-image: url(images/fancy-box.jpg);
    background-position: center;
    background-size: cover;
    height: 345px;
    margin: 0px auto;
    position: relative;
}
.video-1{
    background-image: url(images/video-1.jpg);
}
.video-2{
    background-image: url(images/video-2.jpg);
}
.video-3{
    background-image: url(images/video-3.jpg);
}
.video-4{
    background-image: url(images/video-4.jpg);
}
.video-5{
    background-image: url(images/video-5.jpg);
}
.video-6{
    background-image: url(images/video-6.jpg);
}
.video-gallery-carousel{
    padding: 0px 70px;
    margin-bottom: 50px;
}
.blog-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/blog-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blog-sec-box{
    background-image: url(images/blog-page-1.jpg);
    height: 371px;
    width: 100%;
    position: relative;
}
.blog-sec-box-2{
    background-image: url(images/blog-page-2.jpg);
}
.blog-sec-box-3{
    background-image: url(images/blog-page-3.jpg);
}
.blog-sec-box-4{
    background-image: url(images/blog-page-4.jpg);
}
.blog-sec-box p{
    background-color: #fff;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px;
}
.blog-sec-head::before{
    content: "";
    height: 4px;
    width: 18px;
    background-color: #70707035;
    display: block;
    top: 13px;
    left: -25px;
    position: absolute;
}
.blog-sec-txt{
    margin: 30px 0px 0px 20px;
    position: relative;
}
.blog-sec-txt h3{
    max-width: 550px;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.4;
}
.blog-sec-txt p{
    font-size: 18px;
}
.blog-page-main{
    margin-top: 100px;
}
.blog-row{
    margin-top: 50px;
}
.blog-btn{
    display: block;
    text-align: center;
    margin: 50px auto;
}
.home-search{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/home-search.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-search-form{
    width: 100%;
    padding: 8px 0px;
}
.home-search-col-img img{
    width: 50%;
}
.home-search-form {
    width: 80%;
}
.home-search-form-main{
    background-color: #fff;
    padding: 50px 0px;
}
.home-search-form-sec button{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px 0px;
    margin-left: -40px;
}
.home-search-properties-main{
    background-color: #EAEAEA;
    padding: 70px 0px;
}
.search-properties-sec{
    background-color: #fff;
    padding: 30px;
}
.search-properties-img{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-1.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 346px;
    width: 100%;
    padding: 30px;
}
.search-properties-txt{
    border-left: 5px solid #fff;
    padding-left: 10px;
    color: #fff;
}
.search-properties-txt-box h4{
    font-size: 30px;
}
.search-properties-price-sec-1 p{
    margin: 0px;
}
.search-properties-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-properties-price-sec-col{
    margin: 0px;
}
.search-properties-txt-box{
    margin-top: 20px;
}
.search-properties-price-sec-2{
    display: flex;
    column-gap: 15px;
    text-align: center;
}
.main-container-search{
    background-color: #EAEAEA;
}
.properties-search-row{
    margin-top: 30px;
}
.spacer{
    margin-top: 500px;
}
.property-2{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-2.jpg);
}
.property-3{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-3.jpg);
}
.property-4{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-4.jpg);
}
.property-5{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-5.jpg);
}
.property-6{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-6.jpg);
}
.property-7{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-7.jpg);
}
.property-8{
    background: linear-gradient(rgba(0, 0, 0, 0.80)20%, rgba(0, 0, 0, 0)), url(images/properties-8.jpg);
}
.contact-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(images/contact-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-map{
    margin: 80px 0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;

  }
  .sidenav a:hover{
    color: #f1f1f1;
    text-decoration: none;
    transform: scale(1.2);
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .compass-team-main{
    margin-top: 40px;
}
.top-bar-contact-inner-1 a, .top-bar-contact-inner-2 a{
    color: #fff;
}
.top-bar-contact-inner-1 a:hover, .top-bar-contact-inner-2 a:hover{
    color: #fff;
    text-decoration: none;
}
  @media only screen and (max-width: 1024px){
    h1 {
        font-size: 75px !important;
    }
    h2{
        font-size: 50px !important;
    }
    .video-sec-1::after{
        top: 11%;
    }
    .video-sec-3::after{
        bottom: 11.5%;
    }
    .featured-carousel::before{
        top: 234px;
    }
    .featured-carousel::after{
        top: 234px;
    }
    .team-txt-box{
        padding: 40px 12px;
    }
    .featured-carousel::before{
        height: 45%;
    }
    .featured-carousel::after{
        height: 45%;
    }
    .view-head-main {
        height: 635px;
    }
}
  
@media only screen and (max-width: 767px) {
    h1{
        font-size: 55px !important;
    }
    h2{
        font-size: 40px !important;
    }
    .top-bar-inner{
        flex-direction: column;
        text-align: center;
    }
    .header-stein{
        font-size: 65px;
    }
    .header-btn-main{
        flex-direction: column;
    }
    .header-btn:nth-child(2){
        margin-top: 40px;
    }
    .header-btn:nth-child(2) a{
        padding: 17px 43px;
    }
    .banner{
        padding: 0px 10px;
    }
    .stein-moved-box-img {
        text-align: center;
    }
    .stein-moved-box-txt{
        text-align: center;
    }
    .stein-moved-box-btn{
        text-align: center;
        margin-top: 30px;
    }
    .featured-carousel {
        margin-top: 60px;
    }
    .featured-carousel::before {
        height: 50%;
        width: 120px;
        top: 162px;
    }
    .featured-carousel::after{
        height: 50%;
        width: 120px;
        top: 162px;
    }
    .meet-stein-sec {
        margin: 30px auto 20px;
    }
    .meet-stein-sec{
        padding: 0px 10px;
    }
    .meet-stein-img::before{
        height: 12px;
        top: -5px;
    }
    .meet-stein-img::after{
        height: 12px;
        bottom: -5px;
    }
    .featured-main{
        padding: 50px 0px 100px;
    }
    .owl-carousel-featured .owl-prev::before{
        bottom: -40%;
        left: 30%;
    }
    .owl-carousel-featured .owl-next::after{
        bottom: -40%;
        right: 30%;
    }
    .owl-carousel-team .owl-prev::before{
        bottom: -10%;
        left: 15%;
    }
    .owl-carousel-team .owl-next::after{
        bottom: -10%;
        right: 15%;
    }
    .compass-team-carousel {
        padding: 0px 20px;
    }
    .work-with-us{
        flex-direction: column;
    }
    .work-with-us-col {
        width: 100%;
    }
    .work-with-us-col-2 {
        margin: 0px;
    }
    .work-with-us-col-2{
        padding: 20px 20px 40px;
    }
    .work-with-us {
        margin-top: 100px;
    }
    .work-with-us-col-2 h3 {
        font-size: 35px;
    }
    .blog {
        margin: 50px auto 0px;
    }
    .blog-main .blog-main-sec{
        padding: 0px;
    }
    .communities-box-inner-1 {
        width: 100%;
    }
    .network-txt-box h4 {
        font-size: 30px;
    }
    .network-txt-box h2{
        font-size: 35px !important;
    }
    .network-main {
        padding: 70px 10px 60px;
    }
    .form-name, .form-email {
        width: 100%;
    }
    .form-btn button {
        padding: 7px 35px;
        font-size: 18px;
    }
    .bottom-bar-txt-box p{
        text-align: center;
    }
    .bottom-bar-logo{
        width: 60%;
        margin: 10px auto 0px;
    }
    .testimonials-main{
        padding: 70px 0px 0px;
    }
    .communities-box-inner-sec h4 {
        font-size: 30px;
    }
    .nav-item{
        margin: auto;
    }
    .network-form{
        width: 80%;
    }
    .logo-col{
        text-align: center;
    }
    .sell-home-head-row{
        flex-direction: column-reverse;
    }
    .col-space{
        margin-top: 30px;
    }
    .welcome-head-row{
        flex-direction: column-reverse;
    }
    .welcome-head-main{
        padding-bottom: 50px;
    }
    .welcome-head-row{
        margin: 0px !important;
    }
    .welcome-head-main-col-img-1 img {
        max-width: 85%;
    }
    .welcome-head-main-col {
        margin: 160px 0px 0px 0px;
    }
    .welcome-community-col {
        padding: 50px 20px;
    }
    .rent-bottom-para{
        padding: 0px 12px;
    }
    .search-properties-sec{
        padding: 15px;
    }
    .search-properties-price-sec-1 p{
        font-size: 16px;
    }
    .search-properties-price-sec-col p{
        font-size: 16px;
    }
    .home-search-col-img{
        text-align: center;
    }
    .home-search-form-sec{
        margin: 20px 0px;
    }
    .video-gallery-carousel {
        padding: 0px 10px;
    }
    .play-icon img {
        max-width: 30%;
    }
    .meet-team-head{
        top: 25%;
    } 
    .welcome-head-main-col-img-1::after{
        left: 4%;
        bottom: -12%;
    }
    .meet-team-head {
        padding: 0px 10px;
    }
    .meat-team-main-para p{
        padding: 0px 10px;
    }
    .header{
        padding: 5px 20px;
    }
    .stein-moved-para, .view-all-para, .heading-rent-main p{
        padding: 0px 10px;
    }
    
}



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
